@media screen and (max-width: 1470px) {
	.thsnks-bg {
		background-position: right -160px top -110px; 
	}
}

@media screen and (max-width: 1360px) {
	.selling__main-bg {
		width: 70vw;
	}

	.resource__title {
		width: 60%;
	}
}

@media screen and (max-width: 1200px) {
	.container {
		max-width: 100%;
		padding: 0 15px;
	}

	.row {
		margin: 0;
	}

	.header__main-order-desc {
		font-size: 12px;
	}

	.advice-form__title {
		width: 80%;
	}

	.main__subtitle {
		max-width: 75%;
	}

	.selling__benefits-item {
		font-size: 12px;
	}

	.question-unloged {
		margin-top: 50px;
		padding-bottom: 60px;
	}

	.main__nav-link {
		font-size: 14px;
	}

	.question-loged__order-wrap {
		width: 65%;
	}

	.rate-popup-desc {
		width: 70%;
	}

	.rate-popup-item {
		width: 19%;
	}

	.lawyer-card__data-main {
		width: 65%;
	}

	.thanks__title {
		font-size: 24px;
	}

	.achievement__item {
		font-size: 12px;
	}
}

@media screen and (max-width: 1115px) {
	.logo {
		width: 170px;
		height: 35px;
	}

	.header__question {
		font-size: 12px;
	}

	.header__contacts-value {
		font-size: 16px;
	}

	.header__contacts-title {
		font-size: 12px;
	}

	.search-input {
		width: 50%;
	}

	.header__main-btn {
		width: 150px;
		font-size: 14px;
	}

	.header__main-order-btn {
		width: 150px;
		font-size: 14px;
	}

	.about__widget {
		width: 100%;
		height: 250px;
	}

	.pagination>ul>li.selected>a {
		 font-size: 12px;
	}

	.pagination>ul>li.page>a {
		 width: 15px;
		 height: 15px;
		 color: #000c14;
		 font-size: 12px;
	}

	.pagination>ul>li.last>a {
	 	font-size: 12px;
	}

	.pagination>ul>li.next>a {
		 font-size: 12px;
		}

	.pagination>ul>li.previous>a {
		 font-size: 12px;
	}

	.selling__main-bg {
		width: 80vw;
	}

	.selling__main-title {
		margin-bottom: 15px;
		font-size: 26px;
	}

	.selling__main {
		border-bottom: none;
	}

	.selling__example-item-heading {
		flex-wrap: wrap;
		margin-bottom: 0;
	}

	.selling__example-item-location {
		margin-right: 10px;
		margin-bottom: 10px;
	}

	.selling__example-item-person {
		order: 2;
		margin-right: 10px;
	}

	.selling__example-item-phone {
		order: 3;
		margin-bottom: 10px;
	}

	.docs-example-title {
		margin-right: 15px;
		font-size: 16px;
	}

	.resource__aside-nav-link {
		padding: 7px 38px 7px 40px;
	}

	.order-docs-title {
		font-size: 16px;
	}

	.header__registered-img {
		flex-shrink: 0;
		width: 30px;
		height: 30px;
		margin-right: 6px;
	}

	.header__registered-name {
		font-size: 14px;
	}

	.header__balance {
		font-size: 14px;
	}

	.account__main {
		padding: 15px 10px;
	}

	.rate-popup-list .steps__item {
		width: 20%;
	}

	.rate-popup-card-title {
		font-size: 14px;
	}

	.rate-popup-card-price {
		font-size: 14px;
	}

	.rate-popup-card-btn {
		font-size: 14px;
	}

	.docs__order-steps {
		width: 30%;
	}

	.lawyer-chat__aside {
		width: 230px;
	}

	.lawyer-chat__person {
		padding: 15px 10px 15px 10px;
	}

	.lawyer-chat__message-text {
		font-size: 13px;
		padding-right: 10px;
	}

	.lawyer-chat {
		padding: 0;
		padding-top: 20px;
	}

 	.lawyer-chat__body {
		padding: 25px 10px 18px 10px;
	}

	.lawyer-chat__message {
		padding: 15px 7px 7px 10px;
	}

	.lawyer-chat__person-img {
		flex-shrink: 0;
		width: 25px;
		height: 25px;
		margin-right: 5px;
	}

	.lawyer-card__avatar {
		width: 170px;
		height: 170px;
	}

	.lawyer-card__avatar-wrap .best-workers__avatar-online {
		bottom: 15px;
		left: 30px;
	}

	.lawyer-card__person {
		font-size: 18px;
	}

	.thsnks-bg {
		background-position: right -360px top -110px; 
	}

	.lawyer-edit {
		padding: 25px 15px;
	}

	.achievement__table {
		display: none;
	}

	.achievement__table-mob {
		display: block;
	}
}

@media screen and (max-width: 1030px) {
	.main__nav-link {
		font-size: 13px;
	}

	.lawyer-edit-tab-link {
		font-size: 12px;
	}

	.tab__form-wrap .lawyer-general__form {
		width: 40%;
	}
}

@media screen and (max-width: 990px) {
	.main__nav-list {
		margin-bottom: 20px;
	}

	.footer__list-link {
		font-size: 12px;
	}

	.footer__social {
		width: auto;
	}

	.footer__branches-item {
		font-size: 12px;
	}

	.footer__branches-title::before {
		display: none;
	}

	.expert-login__title {
		width: 90%;
	}

	.advice-form__title {
		width: 100%;
	}

	.archive__list-link {
		font-size: 14px;
	}

	.archive-questions__title {
		font-size: 14px;
	}

	.archive-questions__no-answer {
		font-size: 14px;
	}

	.archive-questions__btn {
		width: 130px;
		height: 33px;
		padding: 0 8px;
		padding-left: 15px;
		background-position: right 20px center;
	}

	.main__subtitle {
		max-width: 85%;
		text-align: center;
	}

	.radio-inner {
		max-width: 48%;
		margin-right: 0;
	}

	.radio-wrap {
		justify-content: space-between;
	}

	.news-page__item .news__item-heading {
		width: 100%;
	}

	.wrapper {
		min-height: auto;
	}

	.footer-bottom {
		position: static;
		height: auto;
	}

	.inner {
		padding-bottom: 0;
	}

	.selling__about-desc {
		max-width: 100%;
	}

	.selling__process .steps__item {
		height: auto;
		margin-bottom: 20px;
	}

	.selling__benefits-item {
		font-size: 14px;
	}

	.resource__download-item-title-value {
		font-size: 14px;
	}

	.resource__question-wrap {
		max-width: 90%;
		margin: 0 auto;
	}

	.question-unloged__lawyer {
		padding: 20px 10px;
	}

	.question-unloged__lawyer-img {
		margin-right: 8px;
	}

	.question-unloged__lawyer-wrap {
		margin-right: 8px;
	}

	.question-unloged__lawyer-name {
		font-size: 12px;
	}

	.question-unloged__answer-wrap .question-unloged__user {
		max-width: 95%;
	}

	.question-unloged__answer-wrap .question-unloged__lawyer {
		max-width: 95%;
	}

	.account__avatar-image {
		width: 120px;
		height: 120px;
	}

	.account__avatar-add {
		font-size: 12px;
	}

	.account__avatar-edit {
		font-size: 12px;
	}

	.account__question {
		font-size: 12px;
	}

	.account__section-title {
		margin-bottom: 10px;
		font-size: 12px;
	}

	.question-loged__order-wrap {
		width: 95%;
	}

	.rate-popup {
		max-width: 1109px;
		padding: 35px 15px;
		text-align: center;
	}


	.rate-popup-item {
		width: 19%;
	}

	.rate-popup-card {
		flex-wrap: wrap;
	}

	.rate-popup-list .steps__item {
		width: 40%;
		margin-bottom: 20px;
	}

	.question-loged__feedback {
		width: 75%;
	}

	.question-unloged__lawyer-top {
		display: block;
		margin-bottom: 5px;
	}

	.lawyer-catalog__item .question-unloged__lawyer-wrap {
		width: auto;
	}

	.lawyer-skills {
		max-width: 100%;
	}

	.radio-wrap {
		width: 100%;
	}

	.account__nav-chat .account__nav-link{
		font-size: 12px;
	}

	.lawyer-card__main-info {
		width: 100%;
	}

	#lawyer-career-tab {
		width: 100%;
	}

	.lawyer-account__heading-main .main__title {
		font-size: 20px;
	}

	.lawyer-account__heading-main .main__subtitle {
		text-align: left;
	}

	.lawyer-confirm {
		margin-bottom: 50px;
	}

	.lawyer-study-item {
		width: 80%;
	}

	.lawyer-question__category-item {
		margin-right: 5px;
		font-size: 12px;
	}

	.lawyer-question__btn {
		flex-shrink: 0;
		margin-left: 10px;
	}

	.lawyer-question__info {
		font-size: 12px;
	}

	.project-wrap {
		margin-bottom: 70px;
	}
}

@media screen and (max-width: 920px) {
	.header__question-wrap {
		display: none;
	}

	.header__question {
		display: none;
	}

	.header__main-title {
		font-size: 26px;
	}

	.header__main-bottom {
		flex-wrap: wrap;
	}

	.header__main-order-desc {
		width: 100%;
		margin-top: 10px;
		display: flex;
	}

	.header__main-btn {
		width: 45%;
		font-size: 14px;
	}

	.header__main-order-btn {
		width: 45%;
		font-size: 14px;
	}

	.header__main-order-desc-value {
		margin-right: 5px;
	}

	.header__main-img {
		min-width: 250px;
	}

	.categories__list-link-title {
		font-size: 12px;
	}

	.consultations__item {
		padding: 23px 10px;
		text-align: left;
	}

	.benefits .container {
		padding: 0 15px;
	}

	.question-free-swiper-container {
	  width: 100%;
	}

	.question-free__gallery .question-free-button-next {
		right: -20px;
	}

	.question-free__gallery .question-free-button-prev {
		left: -20px;
	}

	.questions__list-link {
		font-size: 24px;
		padding: 0 15px !important;
	}

	.news__item-content {
		padding: 10px;
		padding-bottom: 20px;
	}

	.news__item-heading {
		margin-bottom: 5px;
	}

	.news__item-title {
		font-size: 14px;
	}

	.news__item-desc {
		margin-bottom: 10px;
		font-size: 13px;
	}

	.materials__item-content {
		padding: 10px 10px 20px;
	}

	.materials__item-title {
		font-size: 14px;
	}

	.materials__item-desc {
		margin-bottom: 13px;
		font-size: 12px;
	}

	.footer__wrap-social {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 20px;
	}

	.footer__social {
		order: 2;
	}

	.footer__branches {
		order: 1;
		margin-bottom: 20px;
	}

	.news__item-wrap {
		min-height: 430px;
		align-items: stretch;
	}

	.materials-items-wrap {
		min-height:370px;
	}

	.question-steps	.steps__item-top {
		flex: 1 0 10%;
	}
 
 	.question-steps	.steps__item-img {
		width: 45px;
		height: 45px;
	} 

	.question-steps	.steps__item-value {
		font-size: 18px;
	}

	.question-steps	.steps__item-title {
		font-size: 14px;
	}

	.question-steps	.steps__item-desc {
		font-size: 13px;
		text-align: left;
	}

	.send-benefits__item-title {
		font-size: 12px;
	}

	.news-page__top {
		min-height: 350px;
	}

	.news-page__item-content {
		padding: 10px;
	}

	.news-page__item-title {
		margin-bottom: 7px;
		font-size: 14px;
	}

	.news-page__item-desc p {
		font-size: 12px;
	}

	.news-aside__section {
		margin-bottom: 25px;
		padding: 25px 10px;
	}

	.pagination>ul>li {
		margin-right: 5px;
	}

	.pagination>ul>li:last-child {
		margin-right: 0;
	}

	.pagination>ul>li.next>a {
		 width: 20px;
		 height: 20px;
		 padding: 0;
		 background-position: center;  
		 font-size: 0;
	}

	.pagination>ul>li.previous>a {
		 width: 20px;
		 height: 20px;
		 padding: 0;
		 background-position: center;  
		 font-size: 0;
	}

	.news-page__item .news__item-date {
		font-size: 12px;
	}

	.news-page__item .news__item-views {
		font-size: 12px;
	}

	.news-page__item .news__item-comments {
		font-size: 12px;
	}

	.selling__main-title {
		font-size: 22px;
	}

	.selling__main-subtitle {
		font-size: 16px;
	}

	.selling__example-benefits {
		width: 75%;
	}

	.selling__reject-desc {
		max-width: 100%;
		font-size: 16px;
		line-height: 1.4;
	}

	.selling__reject-list {
		max-width: 80%;
	}

	.docs-example-title {
		font-size: 14px;
	}

	.resource__aside-nav-link {
		padding: 7px 20px;
	}

	.question-unloged__lawyer-data {
		flex-wrap: wrap;
	}

	.question-unloged__lawyer-img {
		margin-bottom: 5px;
	}

	.comments-item__message {
		width: 95%;
		margin-bottom: 20px;
		padding: 20px 10px;
	}

	.registration__form {
		width: 100%;
	}

	 .registration__form-input {
	 	width: 65.96%;
	 	padding-left: 0;
	 	margin-right: 20px;
 	}

 	.docs__order-item {
		font-size: 12px;
	}

	.docs__order-steps-title {
		font-size: 12px;
	}

	.docs__order-steps-item {
		font-size: 12px;
	}

	.order-conversation {
		width: 100%;
		margin-bottom: 40px;
	}

	.lawyer-catalog__item .lawyer-online {
		margin-top: 5px;
	}

	.lawyer-card__data-main {
		width: 75%;
	}

	.lawyer-consultation-heading {
		display: block;
	}

	.lawyer-consultation-btn {
		margin-top: 15px;
	}

	.lawyer-card__top {
		margin-bottom: 40px;
	}

	.user__revirwes-item-title {
		font-size: 16px;
	}

	.thanks__subtitle {
		font-size: 16px;
	}

	.lawyer-account__activity {
		width: 340px;
	}

	.lawyer-account__activity-item {
		font-size: 14px;
	}

	.lawyer-account__activity-item--value {
		font-size: 18px;
	}


	.lawyer-account__heading-main .main__title {
		font-size: 18px;
	}

	.lawyer-account__heading-main .main__subtitle {
		font-size: 14px;
	}

	.lawyer-account__section {
		padding: 22px 20px;
	}

	.tab__form-wrap .lawyer-general__form {
		width: 47%;
	}

	.lawyer-edit-tab-list {
		flex-wrap: wrap;
		justify-content: center;
	}

	.lawyer-edit-tab-item {
		width: 33.33%;
		margin-bottom: 15px;
		text-align: center;
	}

	.lawyer-question__footer {
		flex-direction: column;
		align-items: flex-start;
	}

	.lawyer-question__footer-wrap {
		margin-bottom: 15px;
	}

	.lawyer-finances .finances-history {
		width: 80%;
	}

	.lawyer-page-filter .lawyer-filter-inner {
		width: 100%;
	}

	.lawyer-achievement {
		padding: 35px 15px;
	}

	.order-offer__btn {
		font-size: 14px;
	}

	.lawyer-catalog-offer-item {
		font-size: 12px;
	}

}


@media screen and (max-width: 767px) {
	.logo {
		margin: 0 auto;
		margin-bottom: 20px;
	}

	.header__main-img-wrap {
		display: none;
	}

	.header__main-content {
		padding-top: 32px;
		padding-bottom: 35px;
	}

	.activity__item-value {
		font-size: 35px;
	}

	.activity__item-desc {
		font-size: 14px;
	}

	.steps__item {
		width: 180px;
		padding: 15px 5px 15px;
	}

	.steps__item-img {
		width: 45px;
		height: 45px;
		margin-bottom: 10px;
	} 

	.steps__item-value {
		font-size: 18px;
	}

	.steps__item-title {
		font-size: 14px;
	}

	.steps__item-desc {
		font-size: 12px;
	}

	.swiper-button-next {
		right: -10px;
	}

	.swiper-button-prev {
		left: -10px;
	}

	.reviewes__gallery .reviewes-button-next {
		right: -10px;
	}

	.reviewes__gallery .reviewes-button-prev {
		left: -10px;
	}

	.workers__gallery .workers-button-next {
		right: -10px;
	}

	.workers__gallery .workers-button-prev {
		left: -10px;
	}

	.news__item-wrap {
		display: none;
	}

	.news__item {
		max-width: 100%;
	}

	.news__gallery {
		display: block;
	}

	.materials-items-wrap {
		display: none;
	}

	.materials__gallery {
		display: block;
	}

	.materials__item {
		max-width: 100%;
	}

	.materials-swiper-container .swiper-slide {
	  border: none;
	  background-color: transparent;
	}

	.about__widget {
		display: none;
	}

	.about {
		padding-top: 35px;
		padding-bottom: 35px;
	}

	.about__title {
		margin-bottom: 15px;
		text-align: center;
	}

	.main__title {
		margin-bottom: 20px;
		font-size: 20px;
		line-height: 1.3;
	}

	.crm-system__btn {
		margin: 20px 0 30px 0;
	}

	.crm-system__second-title {
		margin-bottom: 15px;
		font-size: 18px;
		line-height: 1.3;
	}

	.archive-questions {
		max-width: 100%;
	}

	.crm-system__widget {
		max-width: 100%;
	}

	.archive__aside {
		max-width: 60%;
		margin: 0 auto;
		padding-bottom: 50px;
	}

	.questions-lawyers {
		max-width: 100%;
	}

	.question-online__form {
		margin-bottom: 40px;
	}

	.question-online__desc .page-desc {
		max-width: 100%;
	}

	.main__subtitle {
		max-width: 100%;
		font-size: 14px;
	}

	.docs-aside {
		max-width: 70%;
		margin: 0 auto;
	}

	.contacts__subtitle {
		width: 70%;
	}

	.news-page__top {
		max-width: 100%;
	}

	.news-page__body {
		max-width: 100%;
	}

	.publish-end__desc {
		width: 60%;
	}

	.selling__main-content {
		max-width: 60%;
	}

	.selling__desc-wrap {
		max-width: 100%;
	}

	.selling__example-benefits {
		width: 100%;
	}

	.selling__example-benefits-title {
		font-size: 14px;
	}

	.selling__popular-item {
		margin-bottom: 20px;
	}

	.selling__about-desc p {
		font-size: 16px;
		line-height: 1.5;
	}

	.selling__about-left {
		width: 33%;
	}

	.selling__about-right {
		width: 33%;
	}

	.selling__about-left .selling__about-item::after {
		right: -55px;
	}

	.selling__about-right .selling__about-item::before {
		left: -55px;
	}

	.selling__benefits-desc {
		margin-bottom: 15px;
	}

	.selling__benefits-desc p {
		font-size: 16px;
	}

	.recent-publication__item {
		max-width: 70%;
		margin: 0 auto;
		margin-bottom: 20px;
	}

	.resource__aside-nav {
		display: none;
	}

	.resource__aside-nav-mob {
		display: block;
	}

	.resource__aside {
		max-width: 70%;
		margin: 0 auto;
		padding-bottom: 60px;
	}

	.resource__content {
		max-width: 100%;
		padding-bottom: 30px;
	}

	.question-unloged-wrap {
		max-width: 100%;
		padding-bottom: 30px;
	}

	.question-unloged__aside {
		max-width: 70%;
		margin: 0 auto;
	}

	.news-article__wrap {
		max-width: 100%;
		padding-bottom: 30px;
	}

	.registration__form-type .radio-wrap-desc {
	 	width: 95%;
	 }

	 .search__form {
		max-width: 100%;
	}

	.search__body {
		max-width: 100%;
	}

	.account__nav {
		max-width: 100%;
		margin-bottom: 20px;
	}

	.account__main {
		margin-bottom: 40px;
	}

	.rate-popup-list .steps__item {
		width: 48%;
	}

	.rate-popup-list {
		flex-wrap: wrap;
	}

	.rate-popup-item {
		width: 40%;
		display: flex;
		margin-bottom: 15px;
	}

	.rate-popup-item-img {
		flex-shrink: 0;
		margin-bottom: 0;
		margin-left: 0;
		margin-right: 10px;
	}

	.rate-popup-item-title {
		text-align: left;
	}

	blockquote {
		padding: 17px 20px 17px 24px;
	}

	.lawyer-card__data {
		flex-direction: column;
		align-items: center;
	}

	.lawyer-card__data-main {
		width: 100%;
	}

	.lawyer-card__activity {
		display: none;
	}

	.lawyer-card__activity-mob {
		display: flex;
		justify-content: flex-start;
		margin-bottom: 15px;
	}

	.lawyer-card__activity-mob .lawyer-card__activity-item {
		margin-right: 10px;
	}

	.lawyer-card__activity-mob .lawyer-card__activity-item:last-child {
		margin-left: 0;
	}

	.lawyer-card__data-aside {
		align-items: center;
	}

	.lawyer-card__content {
		width: 100%;
	}

	.lawyer-card__content {
		padding-bottom: 30px;
	}

	.lawyer-card__contacts {
		padding-bottom: 50px;
	}

	.user__revirwes-main {
		width: 100%;
		padding-bottom: 40px;
	}

	.thsnks-bg {
		background-image: none;
	}

	.thanks__content {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.thanks__title {
		text-align: center;
	}

	.thanks__subtitle {
		text-align: center;
	}

	.radio-wrap-title {
		text-align: center;
	}

	.thanks__form .radio-wrap {
		justify-content: center;
	}

	.thanks__input-label {
		text-align: center;
	}

	.thanks__input-inner {
		justify-content: center;
	}

	.popup-reviewes {
		padding: 40px 15px;
	}

	.popup-reviewes__form {
		width: 100%;
		margin: 0 auto;
	}

	.popup-reviewes__form .radio-wrap {
		width: 100%;
		margin-bottom: 20px;
	}

	.lawyer-account__heading {
		flex-direction: column;
		align-items: center;
	}

	.lawyer-account__heading-main {
		width: 75%;
		margin-bottom: 20px;
		text-align: center;
	}

	.lawyer-account__heading-main .main__title {
		text-align: center;
	}

	.lawyer-account__heading-main .main__subtitle {
		text-align: center;
	}

	.lawyer-account__inner {
		flex-direction: column;
		align-items: center;
	}

	.lawyer-account__inner .account__section {
		margin-bottom: 25px;
	}

	.lawyer-edit-tab-list {
		flex-direction: column;
		align-items: center;
	}

	.lawyer-edit-tab-item {
		width: 100%;
		margin-bottom: 5px;
	}

	.tab__form-wrap {
		flex-direction: column;
		align-items: flex-start;
	}

	.tab__form-wrap .lawyer-general__form {
		width: 80%;
		margin-bottom: 25px;
	}

	.lawyer-general__form  .account__form-input {
		width: 100%;
	}

	.lawyer-general__form .account__form-label {
		flex-shrink: 0;
		width: 120px;
	}

	.lawyer-general__form .form-input-textarea {
		width: 100%;
	}

	.lawyer-services__form-wrap {
		align-items: flex-start;
	}

	.lawyer-services__item {
		width: 96%;
		flex-direction: column;
		align-items: flex-start;
	}

	.lawyer-services__form .form-input-wrap {
		width: 70%;
	}

	.lawyer-study-item {
		width: 95%;
	}

	.lawyer-page-aside {
		max-width: 60%;
		margin: 0 auto;
	}

	.new-questions {
		width: 100%;
	}

	.lawyer-finances__wrap {
		flex-direction: column;
		align-items: center;
	}

	.lawyer-finances__wrap .account__finances-form {
		padding-bottom: 25px;
		border-bottom: 1px solid #e5e5e5;
	}

	.lawyer-finances .finances-history {
		width: 100%;
	}

	.answer-counter {
		width: 100%;
		margin-bottom: 30px;
	}

	.achievement {
		width: 100%;
		margin-bottom: 30px;
	}

	.lawyer-page-filter .lawyer-filter-inner {
		width: 240px;
	}

	.lawyer-page-aside {
		margin-bottom: 50px;
	}

	#order-docs__tab {
		width: 100%;
		padding-bottom: 30px;
	}

	.lawyer-catalog {
		width: 100%;
	}

	.project-wrap ul {
		flex-wrap: wrap;
	}

	.project-wrap li {
		width: 47%;
		margin-bottom: 20px;
	}

}



@media screen and (max-width: 660px) {
	.main__nav-link {
		font-size: 11.5px;
	}

	.search-input {
		width: 70%;
	}

	.archive__aside {
		max-width: 70%;
	}

	.news-page__item .news__item-heading {
		display: block;
	}

	.selling__about-wrap {
		flex-direction: column;
		align-items: center;
	}

	.selling__about-left {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	.selling__about-right {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	.selling__about-item {
		width: 45%;
		height: 61px;
		margin-bottom: 30px;
		color: #ffffff;
		font-size: 14px;
	}

	.selling__about-left .selling__about-item:first-child::after {
		top: 95px;
		right: 40px;
		transform: rotate(45deg);
	}

	.selling__about-left .selling__about-item:last-child::after {
		top: 95px;
		left: 40px;
		transform: rotate(133deg);
	}

	.selling__about-right .selling__about-item:first-child::before {
		top: -40px;
		left: auto;
		right: 40px;
		transform: rotate(-45deg);
	}

	.selling__about-right .selling__about-item:last-child::before {
		top: -40px;
		left: 40px;
		transform: rotate(-133deg);
	}

	 .registration__form-wrap {
	 	flex-direction: column;
	 	align-items: center;
 	}

 	 .registration__form-input {
 	 	order: 2;
	 	width: 100%;
	 	margin-right: 0; 
	 }

	 .registration__form-social {
	 	order: 1;
	 	width: 50%;
	 	margin-bottom: 20px;
	 }

	 .header__contacts-value {
		font-size: 14px;
	}

	.header__contacts::before {
		width: 16px;
		height: 16px;
		background-size: contain;
	}

	.header__contacts-title {
		font-size: 11px;
	}

	.rate-popup-desc {
		width: 100%;
		font-size: 14px;
	}

	.lawyer-study-item {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.lawyer-study-item-section {
		width: 100%;
	}

	.lawyer-study-item-select {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	.lawyer-carrer-wrap .lawyer-study-item-inner {
		display: block;
	}

	.lawyer-study-item-bottom {
		padding-left: 0;
	}

	.form-input-inner {
		flex-direction: column;
		align-items: flex-start;
	}

	.lawyer-contacts-form .checkbox-wrap {
		position: relative;
		top: -13px;
		margin-left: 0;
	}

	.lawyer-contacts-form-wrap {
		margin-bottom: 25px;
	}

	.form-login__aside {
		order: 2;
	}

}

@media screen and (max-width: 575px) {
	.header__top {
		display: none;
	}

	.header__mob {
		display: block;
	}

	.header__mob-wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.nav-mob-wrap {
		display: block;
	}

	.logo-mob {
		width: 150px;
		height: 34px;
		margin-bottom: 0;
		padding: 3px;
	}

	.header__contacts-mob {
		max-width: 190px;
		margin-left: 0;
		margin-bottom: 30px;
		padding-left: 0;
	}

	.header__btn-mob {
		margin-left: 0;
	}

	.header__bottom {
		display: none;
	}

	.header__main-bottom {
		flex-direction: column;
		align-items: center;
	}

	.header__main-btn {
		width: 210px;
		margin-bottom: 20px;
	}

	.header__main-order-btn {
		order: 3;
		width: 210px;
		margin-right: 0;
	}

	.header__main-order-desc {
		order: 2;
		width: 220px;
		display: block;
		margin-top: 0;
		margin-bottom: 20px;
		text-align: center;
		font-size: 16px;
	}

	.activity__item {
		margin-bottom: 20px;
	}

	.activity__item-value {
		font-size: 48px;
	}

	.activity__item-desc {
		font-size: 18px;
	}

	.steps {
		padding: 34px 0;
	}

	.section-title {
		font-size: 24px;
	}

	.steps__title {
		margin-bottom: 25px;
	}

	.steps__item {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		padding: 0x;
		border-radius: 0;
		border: none;
	}

	.steps__item::before {
		display: none;
	}

	.arrow_box {
		display: none;
	}

	.steps__item-top {
		flex: 1 0 15%;
	}

	.steps__item-img {
		width: 52px;
		height: 52px;
	} 

	.steps__item-value {
		margin-bottom: 0;
		font-size: 24px;
		text-align: center;
	}
	
	.steps__item-bottom {
		flex: 3 0 0%;
	}

	.steps__item-title {
		font-size: 16px;
		text-align: left;
	}

	.steps__item-desc {
		font-size: 14px;
		text-align: left;
	}

	.steps__separator {
		margin: 10px 0;
	}

	.categories {
		padding: 35px 0;
	}

	.categories__title {
		margin-bottom: 25px;
	}

	.categories__list-link-title {
		font-size: 14px;
	}

	.consultations {
		padding: 35px 0;
	}

	.benefits__bg {
		display: none;
	}

	.benefits {
		height: auto;
		padding: 35px 0;
		justify-content: center;
		border-bottom: 1px solid #dfe3e9;
	}

	.benefits__item {
		justify-content: center;
	}

	.benefits__item-desc {
		font-size: 24px;
	}

	.reviewes {
		padding-top: 35px;
		padding-bottom: 35px;
	}

	.reviewes__title {
		margin-bottom: 25px;
	}

	.questions {
		padding-top: 35px;
		padding-bottom: 35px;
	}

	.question-free__gallery {
		padding-top: 0;
	}

	.ui-tabs .ui-tabs-panel {
		padding-top: 0;
	}

	.questions__list {
		flex-direction: column;
		align-items: center;
	}

	.questions__list-link {
		margin-bottom: 15px;
	}

	.question-paid__gallery .question-paid-button-next {
		right: -20px;
	}

	.question-paid__gallery .question-paid-button-prev {
		left: -20px;
	}	

	.workers {
		padding-top: 35px;
		padding-bottom: 30px;
	}

	.news-swiper-container .swiper-slide {
	 background-color: transparent;
	 border: none;
	}

	.news__item {
		max-width: 320px;
		margin: 0 auto;
		border-radius: 10px;
		background-color: #ffffff;
	}

	.news {
		padding-top: 35px;
		padding-bottom: 35px;
	}

	.news__title {
		margin-bottom: 25px;
		color: #fff;
	}

	.materials__item {
		max-width: 320px;
	}

	.materials {
		padding-top: 35px;
		padding-bottom: 35px;
	}

	.materials__title {
		margin-bottom: 25px;
	}

	.about__item-title {
		font-size: 18px;
	}

	.footer .row {
		flex-direction: column;
		align-items: center;
	}

	.footer__list-link {
		text-align: center;
	}

	.footer__wrap {
		margin-bottom: 20px;
	}

	.footer__wrap-padding {
		padding-top: 0;
	}

	.footer__wrap-social {
		margin-top: 0;
		text-align: center;
	}

	.footer__logo {
		margin: 0 auto;
		margin-bottom: 20px;
	}

	.archive__aside {
		max-width: 80%;
	}

	.questions-lawyers__item-title {
		font-size: 14px;
	}

	.question-activity {
		display: none;
	}

	.activity-mob {
		display: block;
	}

	.call-back-steps .steps__item-top {
		flex: 1 0 auto;
		width: 5%;
	}
 
 	.call-back-steps .steps__item-img {
		width: 40px;
		height: 40px;
	} 

	.call-back-steps .steps__item-value {
		font-size: 16px;
	}

	.call-back-steps .steps__item-bottom {
		flex: 4 0 0%;
	}

	.call-back-steps__title {
		display: block;
		margin-bottom: 0;
	}

	.docs-aside {
		max-width: 90%;
		margin: 0 auto;
	}

	.contacts__subtitle {
		width: 100%;
	}

	.contacts__map {
		height: 420px;
	}

	.news-page__top {
		flex-direction: column;
		align-items: center;
		margin-bottom: 0;
		min-height: auto;
	}

	.news-page__top .news__item {
		width: 80%;
		max-width: 80%;
		margin-bottom: 20px;
	}

	.news-page__item {
		display: block;
		width: 80%;
		margin: 0 auto;
		margin-bottom: 20px;
	}

	.news-page__item-img {
		width: 100%;
		padding-top: 43.59%;
		border-radius: 8px 8px 0 0;
	}

	.news-page__item-content {
		display: block;
		width: 100%;
		padding: 15px;
	}

	.selling__main {
		width: 100%;
	}

	.selling__main-bg {
		position: absolute;
		width: 100vw;
		height: 100%;
	}

	.selling-main-big {
		display: none;
	}

	.selling-main-bg-mob {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.selling-main-bg-mob  img{
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.selling__main-content {
		padding: 40px 0 34px 0;
	}

	.selling__main-content {
		max-width: 100%;
		text-align: center;
	}

	.selling__main-btn {
		margin: 0 auto;
	}

	.selling__desc {
		padding: 35px 0;
	}

	.selling__desc-wrap {
		padding-left: 0;
		border-left: 0;
	}

	.selling__desc-item {
		margin-bottom: 15px;
	}

	.selling__desc-item p {
		font-size: 14px;
	}

	.selling__example {
		padding-top: 35px;
		padding-bottom: 15px;
		border-bottom: 1px solid #e5e5e5;
	}

	.selling__example-subtitle {
		font-size: 16px;
		text-align: left;
	}

	.selling__example-item-heading {
		flex-wrap: wrap;
		margin-bottom: 0;
	}

	.selling__example-item-location {
		margin-right: 10px;
		margin-bottom: 10px;
	}

	.selling__example-item-person {
		order: 2;
		margin-right: 10px;
	}

	.selling__example-item-phone {
		order: 3;
		margin-bottom: 10px;
	}

	.selling__example-item {
		max-width: 100%;
		padding: 20px 10px;
	}

	.selling__reject {
		padding-top: 35px;
		padding-bottom: 35px;
	}

	.selling__reject-desc {
		font-size: 14px;
	}


	.selling__reject-list {
		max-width: 100%;
	}

	.selling__popular-desc {
		font-size: 14px;
	}

	.selling__about-desc p {
		font-size: 14px;
		line-height: 1.5;
	}

	.selling__about-wrap {
		margin-top: 20px;
	}

	.selling__about {
		padding-top: 35px;
	}

	.selling__process {
		padding-top: 35px;
		padding-bottom: 35px;
	}

	.selling__benefits-desc {
		padding-left: 0;
	}

	.selling__benefits-desc p {
		font-size: 14px;
	}

	.selling__benefits-desc--bordered {
		border-left: none;
	}

	.selling__benefits-list {
		max-width: 100%;
	}

	.recent-publication__item {
		max-width: 100%;
	}

	.resource__title {
		width: 90%;
	}

	.resource__desc-title {
		width: 100%;
	}

	.resource__aside {
		max-width: 80%;
	}

	.question-unloged__main {
		padding: 25px 15px 20px 15px;
	}

	.question-unloged__title {
		font-size: 18px;
	}

	.question-unloged__lawyer-heading {
		flex-direction: column;
		align-items: flex-start;
	}

	.question-unloged__lawyer-activity {
		display: flex;
		justify-content: center;
		width: 100%;
		margin-top: 5px;
		padding: 5px 0;
		border-top: 1px solid #e5e5e5;
		border-bottom: 1px solid #e5e5e5;
	}

	.question-unloged__lawyer-reviewes {
		margin-bottom: 0;
		margin-right: 15px;
	}

	.question-unloged__user-data {
		flex-wrap: wrap;
	}

	.question-unloged__user-img {
		margin-bottom: 8px;
	}

	.question-unloged__form {
		padding: 25px 10px;
	}

	.question-unloged__form-title {
		font-size: 18px;
	}

	.question-unloged__aside {
		max-width: 90%;
		margin: 0 auto;
	}

	.news-article__subtitle {
		font-size: 14px;
	}

	.news-article__desc p {
		font-size: 14px;
	}

	.registration__form-type {
		flex-direction: column;
		align-items: center;
		padding-bottom: 0;
		border-bottom: none;
	}

	.radio-input-wrap {
		align-items: flex-start;
		width: 100%;
		margin-bottom: 15px;
		padding: 10px;
		border: 1px solid #e5e5e5;
	 }

	.radio-input-wrap:last-child {
	 	border-right: 1px solid #e5e5e5;
	 }

	 .registration__form-type .radio-wrap-desc {
	 	width: 100%;
	 	text-align: left;
	 }

	 .ui-menu {
		width: 100% !important;
		max-width: 100% !important;
	}

	.account__nav {
		display: none;
	}

	.account__main-wrap {
		flex-direction: column;
		padding-top: 5px;
	}

	.account__section {
		width: 100%;
		padding: 10px 0;
		border-bottom: 1px solid #e5e5e5;
	}

	.account__section:last-child {
		width: 100%;
		border-bottom: none;
	}

	.rate-popup-item {
		width: 100%;
	}

	.rate-popup-list .steps__item {
		width: 100%;
		display: block;
		border-radius: 10px;
		border: 3px solid #e5e5e5;
		text-align: center;
	}

	.rate-popup-list .steps__item::before {
	    content: "";
	    position: absolute;
	    display: block;
	    top: 50%;
	    transform: translateY(-50%);
	    z-index: 20;
	    left: -8px;
	    border: 20px solid transparent;
	    border-left-color: transparent;
	    border-left-style: solid;
	    border-left-width: 20px;
	    border-left: 20px solid #e5e5e5;
	}

	.rate-popup-list .arrow_box {
		display: block;
	}

	.rate-popup-list .arrow_box::after, .rate-popup-list .arrow_box::before {
		display: block;
	}

	.account__questions-item {
		flex-wrap: wrap;
		justify-content: flex-start;
		padding-bottom: 15px;
		border-bottom: 1px solid #dfe3e9;
	}

	.account__questions-title {
		width: 75%;
		display: block;
	}

	.account__questions-item .archive-questions__btn {
		margin-left: 0;
		margin-top: 15px;
	}

	.account__questions-item .archive-questions__no-answer {
		flex-shrink: 0;
		margin-left: 0;
		margin-top: 15px;
		width: 110px;
		margin-left: 0;
	}

	.account__docs-item {
		flex-wrap: wrap;
		border-bottom: 1px solid #dfe3e9;
		padding-bottom: 15px;
	}

	.account__docs-item-date {
		flex: 1 1 25%;
		flex-shrink: 0;
		margin-right: 15px;
	}

	.account__docs-item-title {
		flex: 2 0 70%;
		text-align: left;
	}

	.account__docs-item-confirm {
		margin-top: 10px;
	}

	.account__main-questions {
		min-height: auto;
	}

	.docs__order-wrap {
		flex-direction: column;
	}

	.docs__order-list {
		width: 100%;
		margin-bottom: 15px;
	}

	.docs__order-steps {
		width: 100%;
		margin-left: 20px;
	}

	.docs__order-relevance {
		font-size: 12px;
	}

	.docs__order-tab-list {
		justify-content: space-between;
		width: 100%;
	}

	.docs__order-tab-link {
		font-size: 14px;
	}

	.resource__nav h3 {
		font-size: 16px;
	}

	.resource__nav a {
		font-size: 14px;
	}

	.resource__desc p {
		font-size: 14px;
	}

	.resource__desc h3 {
		margin-top: 20px;
		font-size: 18px;
	}

	.resource__desc li {
		font-size: 14px;
	}

	blockquote {
		font-size: 14px;
	}

	.account__finances-form .radio-input-wrap {
		padding: 0;
		border: none;
	}

	.finances-history-heading-item {
		font-size: 12px;
	}

	.finances-history-item {
		font-size: 12px;
	}

	.finances-history-price {
		margin: 0 10px;
	}

	.lawyer-catalog__item .lawyer-online {
		margin-top: 0;
	}

	.lawyer-catalog__item .question-unloged__lawyer-proffesion {
		margin-bottom: 15px;
	}

	.lawyer-catalog-offer {
		width: 60%;
	}

	.lawyer-catalog-offer-item {
		font-size: 12px;
	}

	.lawyer-stage {
		margin-left: 5px;
	}

	.resource__desc ol li {
		font-size: 14px;
	}

	.resource__desc ol li a {
		font-size: 14px;
	} 

	.lawyer-chat__wrap {
		display: flex;
		flex-direction: column;
	}

	.lawyer-chat__aside {
		width: 100%;
		padding-bottom: 10px;
		border-bottom: 1px solid rgba(191, 191, 191, .6);
		margin-bottom: 20px;
	}

	.lawyer-chat__heading {
		border-top: 1px solid rgba(191, 191, 191, .6);
	}

	.lawyer-card__avatar {
		width: 100px;
		height: 100px;
	}

	.lawyer-card__avatar-wrap .best-workers__avatar-online {
		bottom: 10px;
		left: 15px;
	}

	.lawyer-card__activity-item {
		font-size: 12px;
	}

	.lawyer-card__avatar-wrap {
		margin-right: 10px;
		margin-top: 10px;
	}

	.lawyer-card__flex {
		width: 100%;
	}

	.lawyer-card__state {
		font-size: 12px;
	}

	.lawyer-card__online {
		color: #ffffff;
		font-size: 12px;
	}

	.lawyer-card__main-info-img {
		flex-shrink: 0;
		width: 20px;
		height: 20px;
		margin-right: 10px;
	}

	.lawyer-card__main-info-desc {
		font-size: 14px;
	}

	.lawyer-card__main {
		margin-bottom: 30px;
	}

	.lawyer-section-title {
		font-size: 15px;
	}


	.lawyer-services {
		margin-bottom: 30px;
	}


	.lawyer-services-item-title {
		font-size: 12px;
	}

	.lawyer-services-item-price-value {
		font-size: 12px;
		font-weight: 700;
	}


	.lawyer-specialization {
		margin-bottom: 30px;
	}

	.lawyer-career {
		margin-bottom: 30px;
	}

	.lawyer-consultation-item-title {
		width: 100%;
	}

	.thanks__title {
		font-size: 18px;
	}

	.thanks__subtitle {
		font-size: 14px;
	}

	.radio-wrap-title {
		font-size: 14px;
	}

	.thanks__input-label {
		font-size: 14px;
	}

	.thanks__form-footer {
		flex-direction: column;
		align-items: center;
	}

	.thanks__form-btn {
		margin-right: 0px;
		margin-bottom: 20px;
	}

	.lawyer-account__heading-main {
		width: 100%;
	}

	.lawyer-account__section-title {
		font-size: 12px;
	}

	.lawyer-account__item .lawyer-account__section-title {
		width: 100px;
		margin-right: 15px;
	}

	.lawyer-account__section-desc {
		font-size: 12px;
	}

	.tab__form-wrap .lawyer-general__form  {
		width: 100%;
	}

	.lawyer-services__form .checkbox + label {
		font-size: 12px;
	}

	.lawyer-schedule__heading {
		display: none;
	}

	.lawyer-schedule__row {
		flex-direction: column;
		align-items: flex-start;
	}

	.lawyer-schedule__item {
		width: 60%;
		margin-bottom: 5px;
	}

	.lawyer-page-aside {
		max-width: 100%;
		margin: 0 auto;
	}

	.lawyer-page-filter .radio-input-wrap {
		border: none;
		margin-bottom: 5px;
		padding: 0;
	}

	.updates__item {
		padding: 25px 15px;
	}

	.new-questions__title {
		font-size: 14px;
	}

	.new-questions__data-item:first-child {
		margin-right: 10px;
	}

	.new-questions__data-item-value {
		font-size: 12px;
	}

	.achievement__table-heading {
		width: 256px;
		height: 30px;
		left: -115px;
		padding: 5px 0;
		font-size: 11px;
	}

	.achievement__table-section {
		position: relative;
		display: flex;
		margin-bottom: 25px;
		padding-left: 30px;
		border: 1px solid #e5e5e5;
	}

	.achievement__item {
		padding: 10px 0;
		font-size: 10px;
		text-align: center;
	}

	.order-docs__item-title {
		font-size: 18px;
	}

	.order-document .docs__order-list {
		width: 100%;
	}

	.filter-mob {
		display: block;
	}

	.lawyer-filter {
		display: none;
	}

	.selling__main {
		position: relative;
	}
}

@media screen and (max-width: 460px) {
	.header__mob {
		padding: 13px 0 13px 0;
	}

	.header__main-title {
		font-size: 20px;
	}

	.header__main-subtitle {
		font-size: 16px;
	}

	.swiper-button-next {
		right: -15px;
	}

	.swiper-button-prev {
		left: -15px;
	}

	.benefits__item-desc {
		font-size: 20px;
	}

	.news__gallery .news-button-next {
		right: -10px;
	}

	.news__gallery .news-button-prev {
		left: -10px;
	}

	.materials__gallery .materials-button-next {
		right: -10px;
	}

	.materials__gallery .materials-button-prev {
		left: -10px;
	}

	.benefits__item {
		justify-content: flex-start;
	}

	.crm-system__second-title {
		margin-bottom: 15px;
		font-size: 18px;
	}

	.page__desc p {
		font-size: 14px;
	}

	.crm-system__btn {
		margin: 20px auto 30px auto;
	}

	.crm-system__widget-title {
		font-size: 16px;
		line-height: 1.2;
	}

	.main__title {
		font-size: 20px;
	}

	.archive__list {
		display: flex;
	}

	.archive__list-wrap {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50%;
	}

	.archive__list-wrap:first-child {
		border: none;
	}

	.archive__list-wrap:last-child {
		border: none;
	}

	.archive__list-item {
		width: 100px;
		border: 1px solid #e5e5e5;
		border-bottom: none;
	}

	.archive__list-item:last-child {
		border-right: 1px solid #e5e5e5;
		border-bottom: 1px solid #e5e5e5;
	}

	.archive-questions__item {
		padding: 10px 0;
	}

	.archive-questions__title {
		line-height: 1.3;
	}

	.archive__aside {
		max-width: 100%;
	}

	.advice-form {
		padding: 25px 20px 35px;
	}

	.expert-login {
		padding: 25px 20px;
	}

	.questions-lawyers__item {
		padding: 22px 20px 25px 20px;
	}

	.questions-lawyers__item-wrapper {
		flex-wrap: wrap;
	}

	.archive-table {
		width: 270px;
		margin: 0 auto;
	}

	.archive-table .archive__list-item {
		width: 100%;
	}

	.popup-login {
		padding: 20px 10px;
	}

	.form-input-inner {
		flex-direction: column;
	}

	.form-input-inner .form-input-wrap {
		width: 100%;
	}

	.last-consultation {
		padding: 20px 15px;
	}

	.docs-aside {
		max-width: 100%;
		margin: 0 auto;
	}

	.send-benefits {
		padding: 25px 10px;
	}

	.send-benefits__wrap {
		width: 90%;
		margin: 0 auto;
	}

	.send-benefits__title {
		font-size: 18px;
	}

	.radio-wrap {
		flex-direction: column;
	}

	.radio-inner {
		max-width: 100%;
	}

	.contacts__wrap {
		width: 100%;
		margin-bottom: 35px;
	}

	.contacts__title {
		margin-bottom: 15px;
		font-size: 18px;
	}

	.contacts__desc {
		font-size: 14px;
	}

	.contacts__item-value {
		font-size: 14px;
	}

	.news-page__top .news__item {
		width: 100%;
		max-width: 100%;
		margin-bottom: 20px;
	}

	.news-page__item {
		display: block;
		width: 100%;
		margin: 0 auto;
		margin-bottom: 20px;
	}

	.publish-question__social {
		width: 100%;
		margin: 0 auto;
	}

	.publish-question__social-title {
		font-size: 14px;
		text-align: center;
	}

	.publish-end__desc {
		width: 80%;
	}

	.selling__main-title {
		font-size: 20px;
	}

	.section-title {
		font-size: 22px;
	}

	.selling__popular-item-title {
		font-size: 14px;
	}

	.selling__about-center {
		width: 140px;
		height: 140px;
		margin-bottom: 20px;
	}

	.selling__about-item {
		width: 48%;
		height: 55px;
		margin-bottom: 20px;
		color: #ffffff;
		font-size: 12px;
	}

	.selling__about-left .selling__about-item:first-child::after {
		top: 80px;
		right: 40px;
		transform: rotate(45deg);
	}

	.selling__about-left .selling__about-item:last-child::after {
		top: 80px;
		left: 40px;
		transform: rotate(133deg);
	}

	.selling__about-right .selling__about-item:first-child::before {
		top: -40px;
		left: auto;
		right: 40px;
		transform: rotate(-45deg);
	}

	.selling__about-right .selling__about-item:last-child::before {
		top: -40px;
		left: 40px;
		transform: rotate(-133deg);
	}

	.selling__benefits-item {
		font-size: 12px;
	}

	.docs-example {
		flex-direction: column;
		align-items: center;
		height: auto;
		padding: 20px 15px;
		text-align: center;
	}

	.docs-example-title {
		margin-right: 0;
		margin-bottom: 15px;
	}

	.resource__nav-item {
		font-size: 14px;
	}

	.resource__desc p {
		font-size: 14px;
	}

	.resource__desc-item {
		font-size: 14px;
	}

	.resource__info {
		margin-bottom: 40px;
		padding: 17px 24px;
		font-size: 14px;
	}

	.resource__social-link {
		width: 25px;
		height: 25px;
	}

	.resource__download {
		padding: 25px 15px;
	}

	.resource__download-title {
		font-size: 18px;
	}

	.resource__download-item {
		flex-direction: column;
		align-items: flex-start;
	}

	.resource__download-item-btn {
		margin-left: 30px;
		margin-top: 10px;
	}

	.resource__question-title {
		font-size: 20px;
	}

	.resource__question-footer {
		flex-direction: column;
	}

	.resource__question-btn {
		margin-right: 0;
		margin-bottom: 15px;
	}

	.resource__question-info {
		text-align: center;
	}

	.resource__aside {
		max-width: 100%;
	}

	.question-unloged__aside {
		max-width: 100%;
		margin: 0 auto;
	}

	.question-unloged__user {
		padding: 20px 10px;
	}

	.comments-item__img {
		width: 30px;
		height: 30px;
		margin-right: 8px;
	}

	.resource__social-list {
		width: 100%;
	}

	.news-article__subtitle {
		padding: 14px;
	}

	.registration__form-social {
	 	width: 70%;
	 }

	 .registration-popup {
		max-width: 100%;
		padding: 30px 15px;
		text-align: center;
	}

	.registration-popup-desc {
		width: 100%;
		margin-bottom: 20px;
		font-size: 14px;
	}

	.account__tab-list {
		width: 100%;
	}

	.account__tab-link {
		font-size: 12px;
	}

	.account__form-wrap {
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		margin-bottom: 10px;
	}

	.account__form-password .account__form-wrap {
		width: 100%;
	}

	.account__form-label {
		margin-right: 0;
		margin-bottom: 5px;
	}

	.question-loged__order-list {
		width: 80%;
	}

	.question-loged__order-link {
		width: 50px;
		height: 50px;
	}

	.question-loged__order-title {
		font-size: 14px;
	}

	.question-loged__order-subtitle {
		font-size: 14px;
	}

	.question-loged__feedback {
		width: 95%;
	}

	.account__phone-btn {
		width: 100%;
	}

	.docs__order-tab-link {
		font-size: 12px;
	}

	.order-conversation {
		margin-bottom: 70px;
	}

	.order-conversation__ico {
		width: 15px;
		height: 15px;
		margin-right: 5px;
	}

	.order-conversation__send {
		width: 18px;
		height: 16px;
		margin-left: 5px;
	}

	.order-conversation__input {
		flex: 3 1 0%;
		height: 100px;
	}

	.order-conversation__input textarea {
		font-size: 12px;
	}

	.docs__order-btn {
		width: 160px;
		height: 35px;
		font-size: 12px;
	}	

	.account__finances-form {
		width: 100%;
	}

	.lawyer-catalog__item .question-unloged__lawyer-footer {
		display: block;
	}

	.lawyer-catalog-offer {
		width: 100%;
	}

	.lawyer-chat__form .order-conversation__ico {
		background-size: contain;
	}

	.order-conversation__send {
		background-size: contain;
	}

	.lawyer-card__avatar {
		width: 60px;
		height: 60px;
	}

	.lawyer-card__avatar-wrap .best-workers__avatar-online {
		bottom: 10px;
		left: 5px;
	}

	.lawyer-card__mob {
		position: relative;
		width: 100%;
		left: -60px;
		top: 15px;
		margin-bottom: 20px;
	}

	.lawyer-card__info {
		display: block;
	}

	.lawyer-specialization-item-img {
		flex-shrink: 0;
		width: 30px;
		height: 30px;
		margin-right: 10px;
	}

	.lawyer-specialization-item-title {
		font-size: 12px;
	}

	.lawyer-consultation-item-answer {
		font-size: 12px;
	}

	.lawyer-reviewes__heading {
		display: block;
	}

	.lawyer-reviewes__heading-wrap {
		margin-left: 0;
		margin-top: 15px;
	}

	.lawyer-reviewes__write {
		width: 47%;
		font-size: 12px;
	}

	.lawyer-reviewes__look {
		width: 47%;
		padding: 0 5px;
		font-size: 12px;
	}

	.user__revirwes-item {
		padding: 10px;
	}

	.user__revirwes-item-title {
		font-size: 14px;
	}

	.thanks__form .radio-wrap {
		flex-direction: row;
	}

	.lawyer-account__activity {
		width: 100%;
	}

	.lawyer-account__item {
		flex-direction: column;
		align-items: flex-start;
	}

	.lawyer-account__item .lawyer-account__section-title {
		flex-shrink: 0;
		width: auto;
		margin-right: 0;
		margin-bottom: 10px;
	}

	.lawyer-confirm__flex {
		display: block;
	}

	.lawyer-confirm__flex .form-input-wrap {
		width: 100%;
	}

	.lawyer-services__form .checkbox + label {
		width: 100%;
	}

	.lawyer-services__form .form-input-wrap {
		width: 100%;
	}

	.lawyer-schedule__item {
		width: 100%;
	}

	.lawyer-question__notloged-desc {
		font-size: 14px;
	}

	.lawyer-question__loged-send {
		margin-left: 10px;
		font-size: 12px;
	}

	.lawyer-question__loged-btn {
		width: 150px;
		height: 40px;
		font-size: 14px;
	}

	.lawyer-achievement {
		padding: 35px 20px;
	}

	.updates__item {
		flex-direction: column;
		align-items: center;
	}

	.updates__item-main {
		max-width: 100%;
		margin-bottom: 20px;
	}

	.new-questions__item {
		flex-direction: column;
		align-items: flex-start;
		padding-right: 30px;
	}

	.new-questions__item-main {
		width: 100%;
		margin-bottom: 20px;
	}

	.new-questions__btn {
		margin: 0 auto;
	}

	.answer-counter__table {
		width: 100%;
	}

	.order-docs__item {
		padding: 20px 15px;
		border-radius: 10px;
	}

	.order-docs__item-footer {
		flex-direction: column;
		align-items: center;
	}

	.order-docs__item-offers {
		margin-bottom: 20px;
	}

	.order-offer__btn {
		width: 250px;
		font-size: 12px;
	}

	.question-unloged__lawyer-footer {
		flex-direction: column;
		align-items: flex-start;
	}

	.question-unloged__lawyer-lastseen {
		margin-bottom: 5px;
	}


	.question-unloged__lawyer-chat {
		margin-bottom: 5px;
	}

	.project-wrap li div {
		font-size: 14px;
	}
}

@media screen and (max-width: 350px) {

	.header__main-title {
		font-size: 18px;
	}

	.reviewes__gallery .reviewes-button-next {
		right: -14px;
	}

	.reviewes__gallery .reviewes-button-prev {
		left: -14px;
	}

	.advice-form {
		padding: 25px 15px 35px;
	}

	.expert-login {
		padding: 25px 15px;
	}

	.best-workers__data-wrapper {
		display: block;
	}

	.best-workers__specialty {
		margin-right: 0;
		margin-bottom: 5px;
	}

	.best-workers__location {
		justify-content: flex-start;
	}

	.archive-questions__btn {
		width: 115px;
		height: 33px;
		padding: 0 8px;
		padding-left: 10px;
		font-size: 12px;
	}

	.best-workers__avatar {
		width: 60px;
		height: 60px;
		margin-right: 10px;
	}

	.best-workers {
		padding: 25px 5px;
	}

	.contacts__map {
		height: 320px;
	}

	.pagination>ul>li {
		margin-right: 3px;
	}

	.publish-end__desc {
		width: 100%;
	}

	.selling__main-title {
		font-size: 18px;
	}

	.selling__main-subtitle {
		font-size: 14px;
	}

	.resource__title {
		width: 95%;
	}

	.question-unloged__btn {
		width: 100%;
	}

	.question-online__policy {
		display: block;
	}


	.comments-item__message {
		flex-wrap: wrap;
		width: 100%;
	}

	.comments-item__message-input {
		margin: 15px 0;
	}

	.comments-item__message-footer {
		position: static;
		width: 100%;
	}

	.comments-item {
		flex-wrap: wrap;
		padding: 20px 10px;
	}

	.comments-item__main {
		width: 85%;
		margin-bottom: 15px;
	}

	.login-registered {
		width: 50px;
	}

	.account__questions-title {
		width: 100%;
	}

	.docs__order-tab-list {
		flex-direction: column;
		align-items: center;
		margin-bottom: 15px;
	}

	.docs__order-tab-item {
		margin-bottom: 15px;
	}

	.lawyer-card__main-info-desc {
		font-size: 12px;
	}

	.lawyer-account__activity-item {
		font-size: 12px;
	}

	.lawyer-account__activity-item--value {
		font-size: 16px;
	}

	.lawyer-confirm__select-wrap {
		width: 100%;
	}

	.lawyer-confirm__label {
		font-size: 12px;
	}

	.order-offer__btn {
		width: 260px;
		font-size: 12px;
	}

	.project-wrap li {
		width: 100%;
	}

	.question-unloged__lawyer-img {
		width: 30px;
		height: 30px;
		margin-right: 4px;
	}

	.question-unloged__lawyer-img-wrap .best-workers__avatar-online {
		bottom: 6px;
		left: 2px;
	}

	.question-unloged__lawyer-proffesion-item:first-child {
		margin-right: 4px;
	}
}


