@media screen and (max-width: 1200px) {
	.container {
		max-width: 100%;
		padding: 0 15px;
	}

	.row {
		margin: 0;
	}

	.header__main-order-desc {
		font-size: 12px;
	}

	.advice-form__title {
		width: 80%;
	}

	.main__subtitle {
		max-width: 75%;
	}
}

@media screen and (max-width: 1115px) {
	.logo {
		width: 170px;
		height: 35px;
	}

	.header__question {
		font-size: 12px;
	}

	.header__contacts-value {
		font-size: 16px;
	}

	.header__contacts-title {
		font-size: 12px;
	}

	.main__nav-link {
		font-size: 14px;
	}

	.search-input {
		width: 50%;
	}

	.header__main-btn {
		width: 150px;
		font-size: 14px;
	}

	.header__main-order-btn {
		width: 150px;
		font-size: 14px;
	}

	.about__widget {
		width: 100%;
		height: 250px;
	}

	.pagination>ul>li.selected>a {
		 font-size: 12px;
	}

	.pagination>ul>li.page>a {
		 width: 15px;
		 height: 15px;
		 color: #000c14;
		 font-size: 12px;
	}

	.pagination>ul>li.last>a {
	 	font-size: 12px;
	}

	.pagination>ul>li.next>a {
		 font-size: 12px;
		}

	.pagination>ul>li.previous>a {
		 font-size: 12px;
		}
}

@media screen and (max-width: 990px) {
	.main__nav-list {
		margin-bottom: 20px;
	}

	.footer__list-link {
		font-size: 12px;
	}

	.footer__social {
		width: auto;
	}

	.footer__branches-item {
		font-size: 12px;
	}

	.footer__branches-title::before {
		display: none;
	}

	.expert-login__title {
		width: 90%;
	}

	.advice-form__title {
		width: 100%;
	}

	.archive__list-link {
		font-size: 14px;
	}

	.archive-questions__title {
		font-size: 14px;
	}

	.archive-questions__no-answer {
		font-size: 14px;
	}

	.archive-questions__btn {
		width: 130px;
		height: 33px;
		padding: 0 8px;
		padding-left: 15px;
		background-position: right 20px center;
	}

	.main__subtitle {
		max-width: 85%;
		text-align: center;
	}

	.radio-inner {
		max-width: 48%;
		margin-right: 0;
	}

	.radio-wrap {
		justify-content: space-between;
	}

	.news-page__item .news__item-heading {
		width: 100%;
	}
}

@media screen and (max-width: 920px) {
	.header__question-wrap {
		display: none;
	}

	.header__question {
		display: none;
	}

	.header__main-title {
		font-size: 26px;
	}

	.header__main-bottom {
		flex-wrap: wrap;
	}

	.header__main-order-desc {
		width: 100%;
		margin-top: 10px;
		display: flex;
	}

	.header__main-btn {
		width: 45%;
		font-size: 14px;
	}

	.header__main-order-btn {
		width: 45%;
		font-size: 14px;
	}

	.header__main-order-desc-value {
		margin-right: 5px;
	}

	.header__main-img {
		min-width: 250px;
	}

	.categories__list-link-title {
		font-size: 12px;
	}

	.consultations__item {
		padding: 23px 10px;
		text-align: left;
	}

	.benefits .container {
		padding: 0 15px;
	}

	.question-free-swiper-container {
	  width: 100%;
	}

	.question-free__gallery .question-free-button-next {
		right: -20px;
	}

	.question-free__gallery .question-free-button-prev {
		left: -20px;
	}

	.questions__list-link {
		font-size: 24px;
		padding: 0 15px !important;
	}

	.news__item-content {
		padding: 10px;
		padding-bottom: 20px;
	}

	.news__item-heading {
		margin-bottom: 5px;
	}

	.news__item-title {
		font-size: 14px;
	}

	.news__item-desc {
		margin-bottom: 10px;
		font-size: 13px;
	}

	.materials__item-content {
		padding: 10px 10px 20px;
	}

	.materials__item-title {
		font-size: 14px;
	}

	.materials__item-desc {
		margin-bottom: 13px;
		font-size: 12px;
	}

	.footer__wrap-social {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 20px;
	}

	.footer__social {
		order: 2;
	}

	.footer__branches {
		order: 1;
		margin-bottom: 20px;
	}

	.news__item-wrap {
		min-height: 430px;
		align-items: stretch;
	}

	.materials-items-wrap {
		min-height:370px;
	}

	.question-steps	.steps__item-top {
		flex: 1 0 10%;
	}
 
 	.question-steps	.steps__item-img {
		width: 45px;
		height: 45px;
	} 

	.question-steps	.steps__item-value {
		font-size: 18px;
	}

	.question-steps	.steps__item-title {
		font-size: 14px;
	}

	.question-steps	.steps__item-desc {
		font-size: 13px;
		text-align: left;
	}

	.send-benefits__item-title {
		font-size: 12px;
	}

	.news-page__top {
		min-height: 350px;
	}

	.news-page__item-content {
		padding: 10px;
	}

	.news-page__item-title {
		margin-bottom: 7px;
		font-size: 14px;
	}

	.news-page__item-desc p {
		font-size: 12px;
	}

	.news-aside__section {
		margin-bottom: 25px;
		padding: 25px 10px;
	}

	.pagination>ul>li {
		margin-right: 5px;
	}

	.pagination>ul>li:last-child {
		margin-right: 0;
	}

	.pagination>ul>li.next>a {
		 width: 20px;
		 height: 20px;
		 padding: 0;
		 background-position: center;  
		 font-size: 0;
	}

	.pagination>ul>li.previous>a {
		 width: 20px;
		 height: 20px;
		 padding: 0;
		 background-position: center;  
		 font-size: 0;
	}

	.news-page__item .news__item-date {
		font-size: 12px;
	}

	.news-page__item .news__item-views {
		font-size: 12px;
	}

	.news-page__item .news__item-comments {
		font-size: 12px;
	}
}


@media screen and (max-width: 767px) {
	.logo {
		margin: 0 auto;
		margin-bottom: 20px;
	}

	.header__main-img-wrap {
		display: none;
	}

	.header__main-content {
		padding-top: 32px;
		padding-bottom: 35px;
	}

	.activity__item-value {
		font-size: 35px;
	}

	.activity__item-desc {
		font-size: 14px;
	}

	.steps__item {
		width: 180px;
		padding: 15px 5px 15px;
	}

	.steps__item-img {
		width: 45px;
		height: 45px;
		margin-bottom: 10px;
	} 

	.steps__item-value {
		font-size: 18px;
	}

	.steps__item-title {
		font-size: 14px;
	}

	.steps__item-desc {
		font-size: 12px;
	}

	.swiper-button-next {
		right: -10px;
	}

	.swiper-button-prev {
		left: -10px;
	}

	.reviewes__gallery .reviewes-button-next {
		right: -10px;
	}

	.reviewes__gallery .reviewes-button-prev {
		left: -10px;
	}

	.workers__gallery .workers-button-next {
		right: -10px;
	}

	.workers__gallery .workers-button-prev {
		left: -10px;
	}

	.news__item-wrap {
		display: none;
	}

	.news__item {
		max-width: 100%;
	}

	.news__gallery {
		display: block;
	}

	.materials-items-wrap {
		display: none;
	}

	.materials__gallery {
		display: block;
	}

	.materials__item {
		max-width: 100%;
	}

	.materials-swiper-container .swiper-slide {
	  border: none;
	  background-color: transparent;
	}

	.about__widget {
		display: none;
	}

	.about {
		padding-top: 35px;
		padding-bottom: 35px;
	}

	.about__title {
		margin-bottom: 15px;
		text-align: center;
	}

	.main__title {
		margin-bottom: 20px;
		font-size: 20px;
		line-height: 1.3;
	}

	.crm-system__btn {
		margin: 20px 0 30px 0;
	}

	.crm-system__second-title {
		margin-bottom: 15px;
		font-size: 18px;
		line-height: 1.3;
	}

	.archive-questions {
		max-width: 100%;
	}

	.crm-system__widget {
		max-width: 100%;
	}

	.archive__aside {
		max-width: 60%;
		margin: 0 auto;
		padding-bottom: 50px;
	}

	.questions-lawyers {
		max-width: 100%;
	}

	.question-online__form {
		margin-bottom: 40px;
	}

	.question-online__desc .page-desc {
		max-width: 100%;
	}

	.main__subtitle {
		max-width: 100%;
		font-size: 14px;
	}

	.docs-aside {
		max-width: 70%;
		margin: 0 auto;
	}

	.contacts__subtitle {
		width: 70%;
	}

	.news-page__top {
		max-width: 100%;
	}

	.news-page__body {
		max-width: 100%;
	}

	
}


@media screen and (max-width: 660px) {
	.main__nav-link {
		font-size: 12px;
	}

	.search-input {
		width: 70%;
	}

	.archive__aside {
		max-width: 70%;
	}

	.news-page__item .news__item-heading {
		display: block;
	}
}

@media screen and (max-width: 575px) {
	.header__top {
		display: none;
	}

	.header__mob {
		display: block;
	}

	.header__mob-wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.nav-mob-wrap {
		display: block;
	}

	.logo-mob {
		width: 147px;
		height: 31px;
		margin-bottom: 0;
	}

	.header__contacts-mob {
		max-width: 190px;
		margin-left: 0;
		margin-bottom: 30px;
		padding-left: 0;
	}

	.header__btn-mob {
		margin-left: 0;
	}

	.header__bottom {
		display: none;
	}

	.header__main-bottom {
		flex-direction: column;
		align-items: center;
	}

	.header__main-btn {
		width: 210px;
		margin-bottom: 20px;
	}

	.header__main-order-btn {
		order: 3;
		width: 210px;
		margin-right: 0;
	}

	.header__main-order-desc {
		order: 2;
		width: 220px;
		display: block;
		margin-top: 0;
		margin-bottom: 20px;
		text-align: center;
		font-size: 16px;
	}

	.activity__item {
		margin-bottom: 20px;
	}

	.activity__item-value {
		font-size: 48px;
	}

	.activity__item-desc {
		font-size: 18px;
	}

	.steps {
		padding: 34px 0;
	}

	.section-title {
		font-size: 24px;
	}

	.steps__title {
		margin-bottom: 25px;
	}

	.steps__item {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		padding: 0x;
		border-radius: 0;
		border: none;
	}

	.steps__item::before {
		display: none;
	}

	.arrow_box {
		display: none;
	}

	.steps__item-top {
		flex: 1 0 15%;
	}

	.steps__item-img {
		width: 52px;
		height: 52px;
	} 

	.steps__item-value {
		margin-bottom: 0;
		font-size: 24px;
		text-align: center;
	}
	
	.steps__item-bottom {
		flex: 3 0 0%;
	}

	.steps__item-title {
		font-size: 16px;
		text-align: left;
	}

	.steps__item-desc {
		font-size: 14px;
		text-align: left;
	}

	.steps__separator {
		margin: 10px 0;
	}

	.categories {
		padding: 35px 0;
	}

	.categories__title {
		margin-bottom: 25px;
	}

	.categories__list-link-title {
		font-size: 14px;
	}

	.consultations {
		padding: 35px 0;
	}

	.benefits__bg {
		display: none;
	}

	.benefits {
		height: auto;
		padding: 35px 0;
		justify-content: center;
		border-bottom: 1px solid #dfe3e9;
	}

	.benefits__item {
		justify-content: center;
	}

	.benefits__item-desc {
		font-size: 24px;
	}

	.reviewes {
		padding-top: 35px;
		padding-bottom: 35px;
	}

	.reviewes__title {
		margin-bottom: 25px;
	}

	.questions {
		padding-top: 35px;
		padding-bottom: 35px;
	}

	.question-free__gallery {
		padding-top: 0;
	}

	.ui-tabs .ui-tabs-panel {
		padding-top: 0;
	}

	.questions__list {
		flex-direction: column;
		align-items: center;
	}

	.questions__list-link {
		margin-bottom: 15px;
	}

	.question-paid__gallery .question-paid-button-next {
		right: -20px;
	}

	.question-paid__gallery .question-paid-button-prev {
		left: -20px;
	}	

	.workers {
		padding-top: 35px;
		padding-bottom: 30px;
	}

	.news-swiper-container .swiper-slide {
	 background-color: transparent;
	 border: none;
	}

	.news__item {
		max-width: 320px;
		margin: 0 auto;
		border-radius: 10px;
		background-color: #ffffff;
	}

	.news {
		padding-top: 35px;
		padding-bottom: 35px;
	}

	.news__title {
		margin-bottom: 25px;
		color: #fff;
	}

	.materials__item {
		max-width: 320px;
	}

	.materials {
		padding-top: 35px;
		padding-bottom: 35px;
	}

	.materials__title {
		margin-bottom: 25px;
	}

	.about__item-title {
		font-size: 18px;
	}

	.footer .row {
		flex-direction: column;
		align-items: center;
	}

	.footer__list-link {
		text-align: center;
	}

	.footer__wrap {
		margin-bottom: 20px;
	}

	.footer__wrap-padding {
		padding-top: 0;
	}

	.footer__wrap-social {
		margin-top: 0;
		text-align: center;
	}

	.footer__logo {
		margin: 0 auto;
		margin-bottom: 20px;
	}

	.archive__aside {
		max-width: 80%;
	}

	.questions-lawyers__item-title {
		font-size: 14px;
	}

	.question-activity {
		display: none;
	}

	.activity-mob {
		display: block;
	}

	.call-back-steps .steps__item-top {
		flex: 1 0 auto;
		width: 5%;
	}
 
 	.call-back-steps .steps__item-img {
		width: 40px;
		height: 40px;
	} 

	.call-back-steps .steps__item-value {
		font-size: 16px;
	}

	.call-back-steps .steps__item-bottom {
		flex: 4 0 0%;
	}

	.call-back-steps__title {
		display: block;
		margin-bottom: 0;
	}

	.docs-aside {
		max-width: 90%;
		margin: 0 auto;
	}

	.contacts__subtitle {
		width: 100%;
	}

	.contacts__map {
		height: 420px;
	}

	.news-page__top {
		flex-direction: column;
		align-items: center;
		margin-bottom: 0;
		min-height: auto;
	}

	.news-page__top .news__item {
		width: 80%;
		max-width: 80%;
		margin-bottom: 20px;
	}

	.news-page__item {
		display: block;
		width: 80%;
		margin: 0 auto;
		margin-bottom: 20px;
	}

	.news-page__item-img {
		width: 100%;
		padding-top: 43.59%;
		border-radius: 8px 8px 0 0;
	}

	.news-page__item-content {
		display: block;
		width: 100%;
		padding: 15px;
	}

}

@media screen and (max-width: 460px) {
	.header__mob {
		padding: 13px 0 13px 0;
	}

	.header__main-title {
		font-size: 20px;
	}

	.header__main-subtitle {
		font-size: 16px;
	}

	.swiper-button-next {
		right: -15px;
	}

	.swiper-button-prev {
		left: -15px;
	}

	.benefits__item-desc {
		font-size: 20px;
	}

	.news__gallery .news-button-next {
		right: -10px;
	}

	.news__gallery .news-button-prev {
		left: -10px;
	}

	.materials__gallery .materials-button-next {
		right: -10px;
	}

	.materials__gallery .materials-button-prev {
		left: -10px;
	}

	.benefits__item {
		justify-content: flex-start;
	}

	.crm-system__second-title {
		margin-bottom: 15px;
		font-size: 18px;
	}

	.page__desc p {
		font-size: 14px;
	}

	.crm-system__btn {
		margin: 20px auto 30px auto;
	}

	.crm-system__widget-title {
		font-size: 16px;
		line-height: 1.2;
	}

	.main__title {
		font-size: 20px;
	}

	.archive__list {
		display: flex;
	}

	.archive__list-wrap {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50%;
	}

	.archive__list-wrap:first-child {
		border: none;
	}

	.archive__list-wrap:last-child {
		border: none;
	}

	.archive__list-item {
		width: 100px;
		border: 1px solid #e5e5e5;
		border-bottom: none;
	}

	.archive__list-item:last-child {
		border-right: 1px solid #e5e5e5;
		border-bottom: 1px solid #e5e5e5;
	}

	.archive-questions__item {
		padding: 10px 0;
	}

	.archive-questions__title {
		line-height: 1.3;
	}

	.archive__aside {
		max-width: 100%;
	}

	.advice-form {
		padding: 25px 20px 35px;
	}

	.expert-login {
		padding: 25px 20px;
	}

	.questions-lawyers__item {
		padding: 22px 20px 25px 20px;
	}

	.questions-lawyers__item-wrapper {
		flex-wrap: wrap;
	}

	.archive-table {
		width: 270px;
		margin: 0 auto;
	}

	.archive-table .archive__list-item {
		width: 100%;
	}

	.popup-login {
		padding: 20px 10px;
	}

	.form-input-inner {
		flex-direction: column;
	}

	.form-input-inner .form-input-wrap {
		width: 100%;
	}

	.last-consultation {
		padding: 20px 15px;
	}

	.docs-aside {
		max-width: 100%;
		margin: 0 auto;
	}

	.send-benefits {
		padding: 25px 10px;
	}

	.send-benefits__wrap {
		width: 90%;
		margin: 0 auto;
	}

	.send-benefits__title {
		font-size: 18px;
	}

	.radio-wrap {
		flex-direction: column;
	}

	.radio-inner {
		max-width: 100%;
	}

	.contacts__wrap {
		width: 100%;
		margin-bottom: 35px;
	}

	.contacts__title {
		margin-bottom: 15px;
		font-size: 18px;
	}

	.contacts__desc {
		font-size: 14px;
	}

	.contacts__item-value {
		font-size: 14px;
	}

	.news-page__top .news__item {
		width: 100%;
		max-width: 100%;
		margin-bottom: 20px;
	}

	.news-page__item {
		display: block;
		width: 100%;
		margin: 0 auto;
		margin-bottom: 20px;
	}

}

@media screen and (max-width: 350px) {

	.header__main-title {
		font-size: 18px;
	}

	.reviewes__gallery .reviewes-button-next {
		right: -14px;
	}

	.reviewes__gallery .reviewes-button-prev {
		left: -14px;
	}

	.advice-form {
		padding: 25px 15px 35px;
	}

	.expert-login {
		padding: 25px 15px;
	}

	.best-workers__data-wrapper {
		display: block;
	}

	.best-workers__specialty {
		margin-right: 0;
		margin-bottom: 5px;
	}

	.best-workers__location {
		justify-content: flex-start;
	}

	.archive-questions__btn {
		width: 115px;
		height: 33px;
		padding: 0 8px;
		padding-left: 10px;
		font-size: 12px;
	}

	.best-workers__avatar {
		width: 60px;
		height: 60px;
		margin-right: 10px;
	}

	.best-workers {
		padding: 25px 5px;
	}

	.contacts__map {
		height: 320px;
	}

	.pagination>ul>li {
		margin-right: 3px;
	}
}


