body {
    font-family:Helvetica, Tahoma, Arial;
    color:#444;
}

.container {
	/*width:970px !important;*/
}

#header {
    background:#222;
    color:#f5f5f5;
    padding:20px 0;
}

h1,h2,h3,h4,h5 {
	text-align: center;
        line-height: 1.2em;
}
h1 {
	font-size: 34px;
	font-weight:200;
}

h2 {
	font-size: 32px;
	margin-bottom:15px;
	font-weight:200;
}

h3 {
	font-size: 24px;

}

p {
	text-align:justify;
}


.right-align {
	text-align: right;
}

.left-align {
	text-align: left;
}

.center-align {
	text-align: center;
}

.logo-text {
    font-size:30px;
}

.logo-description {
    
}

div.form {
    max-width: 480px;
}

div.vert-margins {
	padding:40px 0;
}

.vert-margin30 {
	margin-bottom: 30px;
}

.clickable {
	cursor:pointer;
}

.muted {
    color:#999;
}

.header-phone {
    font-size:29px;
    font-weight:200;
}

.questions-counter {
    font-size:29px;
    font-weight:200;
}

#top-menu {
    background:#444;
    box-shadow: #666 0 0 3px;
    position: relative;
    width:100%;
    margin-bottom:40px;
    overflow: hidden;
}

#top-menu ul {
    list-style:none;
    padding:0;
    margin:0;
    float: left;
    left: 50%;
    position: relative;
    background:#444;
}

#top-menu ul li {
    display: block;
    float: left;
    position: relative;
    right: 50%;
}

#top-menu ul li a {
    color:#ddd;
    display:block;
    text-decoration: none;
    padding:7px 20px;
    font-size:14px;
}

#left-bar {
    border-right:#ddd 2px solid;
    padding:10px;
}

ul#left-menu, ul#left-menu li ul {
    list-style: none;
    padding-left:10px;
    margin-bottom: 0;

}
ul#left-menu li ul {
    display:none;
}

ul#left-menu li:hover ul {
    display:block;
}

ul#left-menu li {
    padding:3px 0;
}

ul#left-menu a {
    line-height: 1.2em;
    color:#666;
}

ul#left-menu a.btn {
    color:#fff;
}

ul#left-menu a:hover {
    color:#ff0000;
    text-decoration: none;
}

ul#left-menu a.btn:hover {
    color:#fff;
}

.login-form {
    max-width:480px;
    margin:0 auto;
}

.errorMessage, .errorSummary {
    padding:5px;
    margin:5px 0;
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

.description {
    font-size:1.3em;
    line-height:1.4em;
    margin-bottom: 1em;
}

.error.description {
    text-align: center;
}

div.pager {
    margin:10px 0;
}

#footer {
    background:#ccc;
    border-top:#bbb 1px solid;
    margin-top:40px;
    color:#666;
    padding:20px 0;
}

.question-form-wrapper {
    margin-bottom:40px;
    padding:10px 20px;
    background:#fff661;
    border-radius: 5px;
    border:#fff000;
}

.form-info-item {
    margin-bottom:20px;
    font-size:17px;
    padding-left:40px;
    background-repeat: no-repeat;
    background-position: left center;
    line-height:1.2em;
}

.form-info-item p {
    text-align:left;
}