.balance-block-byer-webmaster{
    color: #fff;
    text-align: center;
    vertical-align: center;
    position: relative;
    font-weight: bold;
}

.block {
    width: 130px;
    display: table;
    padding-top: 5px;}
.block p {
    display: table-cell;
}

.pager .next>a, .pager .next>span {
    float: none;
}

.pager .previous>a, .pager .previous>span {
    float: none;
}

.pager {
    text-align: right;
}

.skin-blue .main-header .navbar {
    background-color: #222d32;
}

.skin-blue .main-header .logo {
    background-color: #222d32;
}