.skin-blue .main-header .navbar .nav>li>div>a:hover {
    background: rgba(0,0,0,0.1);
    color: #f6f6f6;
}

.pager .next>a, .pager .next>span {
    float: none;
}

.pager .previous>a, .pager .previous>span {
    float: none;
}

.pager {
    text-align: right;
}

.skin-blue .main-header .navbar {
    background-color: #0178a3;
}

.skin-blue .main-header .logo {
    background-color: #0178a3;
}

.buyer-yandex-form {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.vert-margin10 {
    margin-bottom: 10px !important;
}

.vert-margin20 {
    margin-bottom: 20px !important;
}

.vert-margin30 {
    margin-bottom: 30px !important;
}

.vert-margin40 {
    margin-bottom: 40px !important;
}
#ui-id-1 {
    background-color: white;
    width: 470px;
}
#ui-id-1 li {list-style: none}