*.gif
*.jpg
*.png
/assets/*
/netbeans/
/protected/extensions/imperavi/assets/
/protected/runtime/*
/nbproject/*
/upload/*
/protected/config/*
/sitemap.xml
/index.html
/.htaccess
/index.php
