/assets/*
/netbeans/
/protected/extensions/imperavi/assets/
/protected/runtime/*
/nbproject/*
/upload/*
/protected/config/*
/protected/tests/_output
/sitemap.xml
/index.html
/.htaccess
/index.php
/protected/tests/acceptance.suite.yml
/protected/commands/direct_stat/
