AddDefaultCharset UTF-8

Options +FollowSymLinks

IndexIgnore */*

RewriteEngine on
RewriteBase /

#RewriteCond %{SERVER_PORT} 80
#RewriteRule ^(.*)$ https://100yuristov.com/$1 [R,L]

RewriteCond %{HTTP_HOST} ^www\.100yuristov\.com$ [NC] 
RewriteRule ^(.*)$ https://100yuristov.com/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !/$
RewriteRule ^(.*)$ $1/ [R=301,L]


# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php


#php_value error_reporting 7
php_flag display_errors Off