body {
    background-color:#E8E8E8;
}
h1,.h1,h2,.h2,h3,.h3{
	margin-top:10px;
        margin-bottom:0px;
	}
h1,h2,h3,h4,h5 {
	text-align: center;
        line-height: 1.2em;
        margin-top: 0;
}
h1 {
	font-size: 22px;
	font-weight:600;
}

h2 {
	font-size: 22px;
	margin-bottom:15px;
	font-weight:600;
}

h3 {
	font-size: 24px;

}

h5 {
    font-weight:600;
}

a {
    color:#67adb0;
}

hr {
    margin-top:15px;margin-bottom:15px;border:0;border-top:1px solid #b3b2b1
}

/* 
    это стили для левой и правой панели
*/
@media(min-width:992px) {
    
    #left-panel {
	width: 18%;	
    } 
    
    #center-panel {
    width: 59%;
    } 

    #right-panel {
	width: 23%;
    }  
}
 
 .container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    padding-right: 0px;
 }
 
.row {
    margin-left: 0px;
    margin-right: 0px;
}

 
.panel{
	margin-bottom:7px;
	background-color:#fff; 
	border:none; 
	border-radius:4px;
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.05);
	box-shadow:0 1px 1px rgba(0,0,0,0.05)
}

.panel-default {
    border: #c5c4c4 1px solid;
}

.panel-1{
	margin-bottom:10px;
	background-color:#f5d6a6; 
	border:none; 
	border-radius:4px;
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.05);
	box-shadow:0 1px 1px rgba(0,0,0,0.05)
}

.muted {
    color:#aaa;
}

.breadcrumbs {
    margin-bottom: 10px;
}

.right-align {
	text-align: right;
}

.left-align {
	text-align: left;
}

.center-align {
	text-align: center;
}

.vert-margin30 {
	margin-bottom: 30px;
}
        
.panel-body{
    padding:15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{position:relative;min-height:1px;padding-left:5px;padding-right:5px}


.alert{
	padding:15px;margin-bottom:10px;border:1px solid transparent;border-radius:4px
}

.label-date {
    background-color: #88adb7;
}

/*
.col-md-2{width:19%}
.col-md-7{width:56%}
.col-md-3{width:24%}
*/

/* ------------ top menu ------------------*/

#top-menu-wrapper {
    background: #323232;
    color: #fefefe;
    position: relative;
    width:100%;
    overflow: hidden;
}

#top-menu-wrapper ul {
    list-style:none;
    padding:0;
    margin:0;
    float: left;
    left: 50%;
    position: relative;
}

#top-menu-wrapper ul li {
    display: block;
    float: left;
    position: relative;
    right: 50%;
}

#top-menu-wrapper ul li a {
    color:#fefefe;
    display:block;
    text-decoration: none;
    padding:7px 20px;
    font-size:16px;
}

#top-menu-wrapper ul li span.active {
    display: block;
    font-size: 16px;
    padding: 7px 20px;
}

/* ------------- header ---------------*/

#header {
    background: #fff;
    font-size: 13px;
    padding:10px 0;
	border: #c5c4c4 1px solid;
}

#header .row>div {
    text-align: center;
}

.logo-description {
    color:#3c3c3c;
    font-size:13px;
}

.logo-description-footer {
    color:#e3e1e1;
    font-size:13px;
}

.header-phone {
    color:#1e1e1e;
    font-size:20px;
   /* font-family: Georgia; */
}

.header-phone-800 {
    color:#1e1e1e;
    font-size:27px;
   /* font-family: Georgia; */
}

.kpi-counter span {
  background: #582c29 none repeat scroll 0 0;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  margin: 0 1px;
  padding: 3px;
  font-size: 1.3em;
}

.questions-counter {
    font-size:36px;
    line-height: 1em;
    font-weight: 600;
}

.questions-counter-description {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
    text-align:left;
}

/*--------------- form ----------------*/

#form-wrapper {
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url(/pics/2015/form_background_suite.jpg);
	border: #c5c4c4 1px solid;
}

.form-container {
    background-color:#fbeddc;
    padding:17px;
    margin:25px 50px 25px 0;
	border: #c5c4c4 1px solid;
}

.form-container-content {
    margin:7px 0;
	border: #c5c4c4 1px solid;
	
}

.form-container h2 {
    font-size: 26px;
    margin-bottom:10px;
}

.form-container form {
    margin-top:15px;
}

.form-icon {
    width: 30px;
    height:26px;
    background-image: url(/pics/2015/form_icons.png);
    background-repeat: no-repeat;
    display:inline-block;
    margin-right: 15px;
}

.form-info-item {
    text-align: center;
    font-size: 13px;
}

.form-info-item strong {
    font-size:22px;
    color:#000;
}

#form-submit-wrapper {
    margin-top:25px;
}

/*------ left menu ----------------*/

ul#left-menu, ul#left-menu li ul {
    list-style: none;
    padding-left:0px;
    margin-bottom: 0;
    font-size:12px;
}
ul#left-menu li {
    padding:3px;
    display:inline-block;
    zoom:1;
    *display:inline;
}

ul#left-menu li.active {
    background:#67adb0;
    color:#fff;
}

ul#left-menu a {
    line-height: 1.2em;
    color:#666;
}

ul#left-menu li.active>a {
    color:#fff;
}

ul#left-menu li.active ul li {
    font-size:0.9em;
}

ul#left-menu a.btn {
    color:#fff;
}

ul#left-menu a:hover {
    color:#ff0000;
    text-decoration: none;
}

ul#left-menu a.btn:hover {
    color:#fff;
}

/*------------ middle ----------*/

#middle {
    background-color: #E8E8E8;
    padding-top: 15px;
    padding-bottom: 30px;
}

#left-bar h4 {
    background-color: #a3a3a3;
    background-image: url(/pics/2015/left_menu_arrow.gif);
    background-position: right;
    background-repeat: no-repeat; 
    color:#fff;
    text-align: left;
    padding:7px 0 7px 10px;
}

.questions-short-item {
    padding:10px 0;
    margin:0 10px;
    border-bottom: #ddd 1px solid;
    color:#a3a3a3;
}

.questions-short-item a {
    color:#67adb0;
    font-size:18px;
    line-height: 1.1em;
}

.panel.orange-panel {
    border:#e3a436 2px solid;
    border-radius: 3px;
    padding:10px;
}

.gray-panel {
    border:#c5c4c4 1px solid;
    border-radius: 3px;
}
.panel {
    border: 1px solid #c5c4c4;
}



.orange-panel .row>div {
    text-align:center;
    padding:0 15px;
    font-size: 13px;
    line-height: 1.2em;
}

.orange-panel .row>div img {
    margin:10px auto;
}

.cloud-category {
    display:inline-block;
    zoom:1;
    *display:inline;
    padding:0 10px;
}

/*------------ footer --------------*/

#footer {
    background: #2b2c32;
    color:#e3e1e1;
    padding:10px 0;
}

ul#footer-menu {
    list-style: none;
    margin:0;
    padding:0;
    margin-bottom:30px;
}

ul#footer-menu li {
    display:inline-block;
    zoom:1;
    *display: inline;
    padding-right: 20px;
}

ul#footer-menu li a {
    display:block;
    color:#e3e1e1;
}

#footer #vk_groups {
    margin:10px auto;
}


/* ----------- yii pager ---------------*/

ul.yiiPager {
    margin-bottom: 30px;
    display:inline-block;
    font-size: 14px;
}

/*------------ answers --------------*/

.answer-item {
    /*margin:30px 0;
    border-top:#ddd 1px solid;
    padding:10px 0;*/
}

.answer-item-author-block {
    border-bottom:#ddd 1px solid;
}

.answer-item-author {
    padding-bottom: 10px;
    /*border-bottom:#ddd 1px solid;*/
}

.answer-item-avatar {
    /*max-width:60px;*/
}

.answer-item-avatar img {
    border:#999 1px solid;
}


/* ------------ blog ---------------*/

.category-post-header h3 {
    text-align: left;
}

.category-post-preview, .post-text {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: #ddd 1px solid;
}

.post-preview {
  color: #999;
  font-size: 20px;
  font-style: italic;
  line-height: 1.4em;
  margin: 30px 0;
  padding: 10px 0;
}


/*--------- towns -------------*/

.town-cover {
    height:300px;
    background-size: cover;
    background-position: center;
}

.town-cover h1 {
    padding-top:120px;
    color:#fff;
    text-shadow: 1px 1px 2px #666;
}


/*------------ errors ------*/
.errorSummary, .errorMessage {
    background-color: #fff;
    color:#ce4043;
    padding:5px;
}

.error-message h1 {
    font-size:30px;
}

.description.error {
    text-align: center;
    margin:40px 0;
}

.form-control.error {
    border:#ffa0a2 1px solid;
}


/*--------------- companies -------------*/

.company-list-item {
    border-bottom: #eee 1px solid;
}

.company-list-description {
    padding-top:30px;
}

.company-town-list-item {
    text-align: center;
}

.company-town-list-item a {
    font-size:18px;
}

.radio-labels input, .radio-labels label {
    display:inline;
    height:auto;
    width:auto;
}

.radio-labels label {
    font-weight: 400;
}

@media (max-width:1400px) {
    .container {
        width: 100%;
    }
}

@media (min-width:1401px) {
    .container {
        width: 1170px;
    }
    
    #form-wrapper {
        max-width: 1130px;
        margin: 0 auto;
    }
}

@media (max-width:767px) {
    .form-container {
        margin:10px auto;
    }
    
    ul#left-menu li {
        padding:6px 0;
    }
    
    ul#left-menu {
        display:none;
    }
    
    #left-menu-switch {
        cursor:pointer;
    }
}


/*  search widget */

.widget-search-header {
    border-bottom: #999 1px solid;
    padding-bottom: 10px;
}

.widget-search-header a {
    color:#666;
    display:inline-block;
    text-align: left;
}

.widget-search-header span {
    font-size:2em;
}

.widget-search-header span a {
    color:#67adb0;
    text-decoration: underline;
}

.question-search-item .panel-body {
    padding:5px;
}


.doc-type-wrapper {
    display:inline-block;
    width:50%;
}

.doc-type-wrapper .doc-type-desc {
    font-size:0.8em;
    color:#999;
    font-weight:normal;
    padding-left:17px;
}

.form-brak-lead {
    position:absolute;
    right:30px;
    background:#fff;
    border-radius:5px;
    padding:5px;
    box-shadow: #999 2px 2px 5px;
    display:none;
}

.brak-lead-message {
    display:none;
}

.codecs-link {
    display: block;
    padding:3px;
}

.codecs-link:hover {
    background: #f6f6f6;
}

/*-------------- yurist profile ----------------------*/
#user-profile-advocat, #user-profile-yurist, #user-profile-judge {
    display:none;
}

.tab-content>.tab-pane {
    padding-top:20px;
}